@charset "UTF-8";
body {
  font-family: 'Noto Sans KR', '微软雅黑', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Tahoma, Geneva, sans-serif;
  font-size: 18px;
  letter-spacing: -2px;
  color: #444;
}

body.on::-webkit-scrollbar {
  display: none;
}

.logbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  text-align: center;
}

.logbox li {
  width: 120px;
  color: #444;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  font-size: 16px;
  font-weight: 700;
}

.logbox li:first-child {
  width: 150px;
}

.inner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  text-align: center;
  background-color: #fff;
}

header .inner {
  width: 100%;
  max-width: 100%;
  height: 110px;
  margin: 0 auto;
  padding: 0 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px auto 780px 500px 40px;
      grid-template-columns: 220px auto 780px 500px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

header .inner > .logbox li {
  line-height: 45px;
  border-radius: 10px;
}

header .inner > .logbox li::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .inner > .logbox li:hover::after {
  opacity: 1;
}

header .inner > .logbox li:nth-child(2) {
  background-color: #2095a6;
  color: #fff;
  border: none;
}

header .inner > .logbox li:nth-child(3) {
  background-color: #1a68a2;
  color: #fff;
  border: none;
}

header h1 img {
  width: 100%;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav > li {
  width: 25%;
  position: relative;
  font-weight: 700;
  font-size: 22px;
}

header .nav > li::after {
  display: block;
  content: '';
  width: 0;
  height: 4px;
  background-color: #2095a6;
  position: absolute;
  left: 50%;
  bottom: -40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .nav > li:hover {
  color: #2095a6;
}

header .nav > li:hover::after {
  width: 100%;
}

header .nav > li:hover li {
  color: #444;
}

header .nav > li .sub-nav {
  display: none;
  width: 100%;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 100px;
  font-weight: 500;
  font-size: 16px;
}

header .nav > li .sub-nav li:not(:first-child) {
  padding-top: 14px;
}

header .nav > li .sub-nav li:hover {
  color: #2095a6;
}

header .nav > li .sub-nav.on {
  display: block;
}

header .sitemap-btn img {
  width: 100%;
  cursor: pointer;
}

header .sitemap {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

header .sitemap.scrollon {
  overflow-y: scroll;
}

header .sitemap-close {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #2095a6;
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .sitemap-close img {
  width: 50%;
}

header .sitemap-bg {
  width: 85%;
  height: 700px;
  border-radius: 60px;
  background-color: #fff;
  margin: 110px auto;
  padding: 0 5%;
}

header .sitemap-bg .sitemap-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

header .sitemap-bg .sitemap-list div {
  display: none;
}

header .sitemap-bg .sitemap-list > li {
  width: 25%;
  padding-top: 180px;
  font-size: 26px;
  font-weight: 700;
}

header .sitemap-bg .sitemap-list > li:not(:last-child) {
  border-right: 1px solid #e0e0e0;
}

header .sitemap-bg .sitemap-list > li ul {
  padding-top: 50px;
  position: relative;
  color: #aaa;
  font-size: 20px;
  font-weight: 400;
}

header .sitemap-bg .sitemap-list > li ul::before {
  display: block;
  content: '';
  width: 30px;
  height: 3px;
  background-color: #2095a6;
  position: absolute;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .sitemap-bg .sitemap-list > li ul li {
  padding-top: 20px;
}

header .sitemap-bg .sitemap-list > li ul li:hover {
  color: #2095a6;
}

header .sitemap-bg .sitemap-list img, header .sitemap-bg .sitemap-list span:nth-child(2) {
  display: none;
}

header .sitemap-bg > .logbox {
  display: none;
  margin-top: 25px;
}

header .sitemap-bg > .logbox li {
  line-height: 40px;
  margin: 0 7px;
  border-radius: 3px;
}

header .sub-bg {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 275px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

footer {
  border-top: 1px solid #e0e0e0;
  padding: 60px 0 50px;
  text-align: center;
  letter-spacing: -0.5px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul li {
  position: relative;
  margin: 0 10px;
  font-weight: 700;
}

footer ul li:last-child::after {
  display: block;
  content: '';
  width: 4px;
  height: 4px;
  background-color: #ccc;
  position: absolute;
  left: -12px;
  top: 50%;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0 15px;
}

footer address div {
  margin: 10px;
  position: relative;
}

footer address div:first-child::after {
  display: block;
  content: '';
  width: 1px;
  height: 16px;
  background-color: #444;
  position: absolute;
  right: -10px;
  bottom: 4px;
}

footer p {
  font-size: 16px;
  color: #a9a9a9;
  padding-bottom: 25px;
}

@media all and (max-width: 1599px) {
  header .inner {
    -ms-grid-columns: 200px auto 650px 450px 40px;
        grid-template-columns: 200px auto 650px 450px 40px;
  }
  header h1 img {
    width: 85%;
  }
  header .nav > li {
    font-weight: 700;
    font-size: 20px;
  }
  header .nav > li::after {
    bottom: -42px;
  }
}

@media all and (max-width: 1366px) {
  .inner {
    max-width: 1200px;
  }
  header .inner {
    height: 80px;
    -ms-grid-columns: 200px auto auto 450px 40px;
        grid-template-columns: 200px auto auto 450px 40px;
  }
  header .nav {
    display: none;
  }
  header .logbox {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 1 / 4 / 2 / 5;
  }
  header .sitemap-btn {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-area: 1 / 5 / 2 / 6;
  }
  header .sitemap-close {
    top: 15px;
    right: 20px;
  }
  header .sitemap-bg {
    width: 90%;
    height: 575px;
    padding: 0;
    margin: 80px auto;
    overflow: hidden;
  }
  header .sitemap-bg .sitemap-list > li {
    padding-top: 100px;
    font-size: 22px;
    font-weight: 700;
  }
  header .sitemap-bg .sitemap-list > li ul {
    font-size: 16px;
    font-weight: 700;
  }
}

@media all and (max-width: 1025px) {
  header .inner {
    -ms-grid-columns: 200px auto auto 450px 40px;
        grid-template-columns: 200px auto auto 450px 40px;
  }
  header .sitemap {
    padding-left: 40px;
    text-align: left;
    right: -100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: block;
  }
  header .sitemap-close {
    border-radius: 0;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .sitemap-close img {
    width: 40%;
  }
  header .sitemap-bg {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    color: #fff;
    margin: 0;
  }
  header .sitemap-bg .sitemap-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    border-right: none;
    border-left: none;
  }
  header .sitemap-bg .sitemap-list > div {
    width: 100%;
    line-height: 60px;
    padding: 0 20px;
    background-color: #2095a6;
    font-size: 22px;
    font-weight: 700;
    display: block;
  }
  header .sitemap-bg .sitemap-list span, header .sitemap-bg .sitemap-list img {
    display: block;
  }
  header .sitemap-bg .sitemap-list > li {
    cursor: pointer;
    width: 100%;
    line-height: 55px;
    padding: 0;
    font-size: 18px;
    background-color: #fff;
    color: #444;
    border-bottom: 1px solid #e0e0e0;
  }
  header .sitemap-bg .sitemap-list > li span {
    padding: 0 20px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
  }
  header .sitemap-bg .sitemap-list > li span:nth-child(2) {
    float: right;
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .sitemap-bg .sitemap-list > li span:nth-child(2) img {
    width: 17px;
    height: 9px;
  }
  header .sitemap-bg .sitemap-list > li span.on img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  header .sitemap-bg .sitemap-list > li:not(:last-child) {
    border-right: none;
  }
  header .sitemap-bg .sitemap-list > li ul {
    border-top: 1px solid #e0e0e0;
    display: none;
    padding: 10px 30px;
    color: #666;
    background-color: #efefef;
  }
  header .sitemap-bg .sitemap-list > li ul::before {
    display: none;
  }
  header .sitemap-bg .sitemap-list > li ul li {
    padding: 0;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
  }
  header .sitemap-bg .sitemap-list > li ul li:hover {
    color: #666;
  }
  header .sitemap-bg > .logbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer address {
    display: block;
  }
  footer address div {
    margin: 0;
  }
  footer address div:first-child {
    display: inline-block;
  }
  footer address div:first-child::after {
    display: block;
    content: '';
    width: 1px;
    height: 16px;
    background-color: #444;
    position: absolute;
    right: -10px;
    bottom: 4px;
  }
}

@media all and (max-width: 767px) {
  body {
    font-size: 15px;
  }
  header h1 img {
    width: 100%;
  }
  header .inner {
    height: 60px;
    padding: 0 4%;
    -ms-grid-columns: 130px auto auto auto 40px;
        grid-template-columns: 130px auto auto auto 40px;
  }
  header .inner > .logbox {
    display: none;
  }
  footer {
    padding: 40px 20px 25px;
  }
  footer p {
    font-size: 11px;
    padding-bottom: 20px;
  }
  footer img {
    max-height: 15px;
  }
  footer address {
    font-size: 14px;
    display: block;
    letter-spacing: -1px;
    padding: 15px 0;
  }
  footer address div:first-child::after {
    display: block;
    content: '';
    width: 1px;
    height: 14px;
    background-color: #444;
    position: absolute;
    right: -10px;
    bottom: 2px;
  }
}
